#homePic{
    background-image: url("../src/image/home/homePicNewOne.png");

    height: 900px;
}

#bgPic{
    background-image: url("../src/image/Group 34.png");
    height: 350px;
}

#CustomerSaysPic{
    background-image: url("../src/image/Group 39.png");
    height: 750px;
}


#AboutHomePic{
    background-image: url("../src/image/Group 62.png");
    height: 580px;
}

#MenuhomePic{
    background-image: url("../src/image/Group 63.png");
    height: 580px;
}

#BlogHomePic{
    background-image: url("../src/image/Group 66.png");
    height: 580px;
}

#Contactpic{
    background-image: url("../src/image/Group 67 - Copy.png");
    height: 580px;
}
